@import './variables';

.badge-sm {
    font-size: 0.75rem;
    padding: 0.15rem 0.35rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    color: #374151;
    border: 1px solid #9ca3af;
    font-weight: 400;
    margin-top: 0;
    display: inline-block;
    width: fit-content;
}
